body {
  font-family: Arial, sans-serif;
  margin: 0; }

header {
  background-image: url(/assets/partypolizei.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  height: 450px;
  width: 100%; }
  header h1 {
    font-family: Impact, sans-serif;
    font-size: 4rem;
    padding-top: 1em;
    margin-left: 1em;
    max-width: 30ch;
    padding-left: .5em;
    -ms-word-wrap: break-word;
    word-wrap: break-word; }
    header h1 span {
      background-color: white;
      margin: 0.6rem;
      padding: .3rem 2rem;
      display: inline-block; }
    header h1 .donate {
      margin-left: 6em; }

.donate-header {
  border-radius: 7px;
  font-size: 2rem;
  display: inline-block;
  font-family: Impact, sans-serif;
  color: black;
  padding: 10px 20px;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  background-color: red;
  margin-left: 3.2em; }

.donate {
  border-radius: 7px;
  font-size: 2rem;
  display: inline-block;
  font-family: Impact, sans-serif;
  color: black;
  padding: 10px 20px;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  background-color: red; }

.explanation div:first-child {
  margin-top: 13rem;
  margin-left: -10em;
  margin-bottom: 2rem;
  max-width: 60ch; }
  .explanation div:first-child a {
    text-decoration: underline; }
  .explanation div:first-child a:visited {
    color: black; }

.explanation .buttonwrapper {
  padding-bottom: 2em;
  margin-left: -10em; }

.explanation .share {
  margin: 0 0 0 -10em; }

.heading {
  font-family: Impact, sans-serif;
  font-size: 4em;
  margin: 1em 0 0 0.7em; }

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem;
  justify-content: space-around; }

footer {
  background-color: black;
  color: white;
  font-family: Impact, sans-serif;
  font-size: 2rem;
  display: grid;
  grid-template-columns: 80% 20%;
  padding: 3em 1rem 1rem 2em; }
  footer a {
    color: white; }
  footer div {
    grid-column: 1;
    grid-row: 1; }
  footer img {
    grid-row: 2;
    grid-column: 2;
    display: block; }
  footer .imprint {
    grid-column: 1;
    grid-row: 3; }

#spenden {
  width: 100%;
  text-align: center; }

.thanks {
  display: flex;
  flex-wrap: wrap;
  margin: 2em 0 3em 0; }
  .thanks .heading {
    max-width: 30ch;
    margin-left: 1em; }

.glass {
  margin-left: 4em;
  margin-bottom: 4em; }

.footertext {
  max-width: 800px; }

@media (max-width: 425px) {
  .glass {
    width: 100%;
    display: block; }
  .explanation div:first-child {
    margin-top: 0rem;
    margin-left: 0em;
    margin-bottom: 2rem;
    max-width: 60ch; }
    .explanation div:first-child a {
      text-decoration: underline; }
    .explanation div:first-child a:visited {
      color: black; }
  .explanation .buttonwrapper {
    padding-bottom: 2em;
    margin-left: -10em; }
  .explanation .share {
    margin: 0 0 0 -10em; }
  header h1 {
    font-size: 1rem;
    margin-left: -3em;
    padding: 0; }
  footer {
    display: block; } }
